:root {
  --primary: #c10016;
  --primary-shade: #8e0010;
  --background: var(--primary);
}

html,
body {
  color: #fff;
  background-color: var(--background);
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  transition: all 0.15s ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: 1.875rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.8;
}

a {
  text-decoration: none;
  font-family: Helvetica;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.15s ease-out;
  color: #fff;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input,
button,
select {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  transition: all 0.1s ease-out;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  color: #fff;
}

@media (max-width: 640px) {
  p {
    font-size: 1rem;
    line-height: 1.5;
  }

  h2 {
    font-size: 1.575rem;
  }

  input,
  button {
    font-size: 1.1rem;
  }
}
